$fa-font-path: '../bower_components/components-font-awesome/fonts';

// bower:scss
@import "../web/bower_components/reset-css/_reset.scss";
@import "../web/bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

$red: #d9534f;
$blue: #428bca;

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;

    thead {
        font-weight: bold;

        th {
            padding-left: 1rem;
            padding-bottom: 1rem;
            text-align: left;
        }
    }

    td {
        padding-left: 1rem;
        padding-right: 1rem;
        line-height: 4rem;

        &.data-cell {
            position: relative;
            border: 1px solid #aaa;

            input {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                font-size: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        &.action-cell {
            width: 1px;
        }

        &.date-cell {
            width: 8rem;
        }
    }
}

.button {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    background: $blue;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    border-radius: .25rem;
    transition: .3s all;
    cursor: pointer;

    &:hover {
        background: darken($blue, 10%);
    }
}

.button-danger {
    background: $red;

    &:hover {
        background: darken($red, 10%);
    }
}

.button-delete {

    @extend .button;
    @extend .button-danger;

    &:before {
        content: $fa-var-trash;
        font-family: FontAwesome;
    }
}

.button-add-row {
    margin-bottom: 4rem;

    @extend .button;

    &:before {
        content: $fa-var-plus;
        font-family: FontAwesome;
        padding-right: .5rem;
    }
}

.code-wrapper {
    border: 1px solid #aaa;
}